 * {
    border: 1px solid red;
    margin: 1px;
    padding: 1px;
} 

html, body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif ;
}

body {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.background {
    background-color: #1F2937;
}

.header,
.main-1,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 300px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 10px;
}

/* .navigation {
    display: flex;
    text-decoration: none;
} */

.logo {
    font-size: 24px;
    margin-right: auto;
    color: #F9FAF8;
    font-weight: 500;
}


.header {
    display: flex;
    text-decoration: none;
    padding-top: 10px;
    align-items: center;
}

.links {
    display: flex;
    gap: 18px;
    color: rgb(173, 172, 172);
}

a {
    color: rgb(173, 172, 172);
    text-decoration: none;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

.main-box {
    display:flex;
    align-items: center;
    padding-bottom: 40px;
    flex: 1;
}

.main-content {
    font-size: 18px;
    color: #E5E7EB;
    flex: 1;
    flex-wrap: wrap;
}

.main-content p {
    margin-top: 0;
}

.button {
    background-color: #3882F6;
    padding: 7px 10px;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 12px;
}

.main-1 {
    display: flex;
    align-items: center;
}

.main-1 img {
    width: auto;
    height: 200px;
    margin-left: auto;
    padding-left: 60px;
}

.main-2 {
    display: flex;
    flex-direction: column;
    padding: 50px 300px;
    flex: 0;

.container h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.quote p {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quoter-name {
    font-weight: 500;
}

.container {
    flex: auto;
    min-width:max-content;
}

.image-container {
    display: flex;
    justify-content: space-evenly;
}

.image-container div {
    display: flex;
    flex-direction: column;
    width: 160px;
    margin: 20px;
    text-align: center;
    background-color: rgb(236, 232, 232);
    padding: 12px;
    border-radius: 12px;
    border: 2px solid rgb(161, 161, 161);
}

.image-container img {
    height: 100px;
    width: auto;
}